
<head>
    
</head>
<body>

   <h1>Style sync</h1>
    <p>Do you want to find the perfect store for your style? Choose the ones that you are interested in and get differet stores where you can explore!</p>

<label>
  <input type="checkbox" value="Streetwear" class="hashtag-checkbox" > Streetwear 

</label>
<label>
  <input type="checkbox" value="Vintage" class="hashtag-checkbox"> Vintage
</label>
{{!-- <label>
  <input type="checkbox" value="Kawaii" class="hashtag-checkbox"> Kawaii
</label> --}}
{{!-- <label>
    <input type="checkbox" value="Kawaii" class="hashtag-checkbox" onchange="toggleInfo()"> Kawaii</label> 

    <section class="Kawaii" id="KawaiiInfo">
    {{Category}}
    {{Shop}}
</section> --}}
{{!-- <label>
  <input type="checkbox" value="Kawaii" class="hashtag-checkbox" onchange="toggleInfo()"> Kawaii
</label>

<section class="Kawaii" id="KawaiiInfo" >
  {{Place}}
</section> --}}

<label>
  <input type="checkbox" value="Kawaii" class="hashtag-checkbox" onchange="togglePlace()"> Kawaii
</label>

<section class="Kawaii" id="placeSection">
  {{Place}}
</section>

<div id="image-container" ></div>

 



<div id="weatherIcon"> </div>
{{!-- voor de api --}}
<div id="weather"> </div>

</body>

    <footer></footer> 



