<header>
    <h1>Jouw match</h1>
    </header>
    <main>

 


<!-- Voeg HTML-elementen toe waar je de gegevens wilt weergeven -->
<p id="gekozen-data"></p>
<p id="Winkel1-name"></p>
<p id="Winkel1-place"></p>
<p id="Winkel2-name"></p>
<p id="Winkel2-place"></p>


<!-- Laad het JavaScript-bestand -->
<script src="gekozen.js"></script>


    </main>
    <footer></footer>
