<header>
  <h1>Jouw match</h1>
</header>

<main class="gekozen">
  <p>These are the different kind of stores for you</p>
  <p id="javascript-disabled">Sorry your javascript is disabled so the stores
    cannot be personalized for you. But below you will find all our stores.</p>

  <section id="images">
    <h2>Images</h2>
    <img src="kamoji.png" class="javascript-disabled-image" alt="kamoji" />
    <img src="OALLERY.png" class="javascript-disabled-image" alt="OALLERY" />
    <img
      src="T0K10Store.png"
      class="javascript-disabled-image"
      alt="T0K10Store"
    />
    <img src="Nishi.png" class="javascript-disabled-image" alt="Nishi" />
    <img
      src="ThriftTale.png"
      class="javascript-disabled-image"
      alt="ThriftTale"
    />
    <img src="VIND.png" class="javascript-disabled-image" alt="VIND" />
  </section>

  <div id="selectedImagesContainer"></div>

  <script src="gekozen.js"></script>
</main>

<footer></footer>