
<head>
  <h1>Style sync</h1>
</head>
<main>

   <img id="banner" src="banner.png" alt="image mode">
    <p id="banner-text">Find your style!</p>

    <p>Do you want to find the perfect store for your style? Choose the ones that you are interested in and get differet stores where you can explore!</p>

<div id="imageContainer">
  <img id="image" src="">
</div>
<div id="checkboxes">
  <label>
    <input type="checkbox" value="Streetwear" id="streetwearCheckbox" class="hashtag-checkbox"> Streetwear
  </label>
<label>
  <input type="checkbox" value="Vintage" id="vintageCheckbox" class="hashtag-checkbox"> Vintage
</label>
<label>
  <input type="checkbox" value="Kawaii" id="kawaiiCheckbox" class="hashtag-checkbox"> Kawaii
</label>
<div id="AantalSection">
  <p id="styleText">Choose a style</p>
</div>

</div>


<a>
<button id="doorgaanButton">Next</button>
</a>
<a href="./gekozen"> 
<button id="javascript-disabled-button">Next</button>
</a>

{{!-- voor de api --}}

<div id="weatherIcon"> </div>
<div id="weather"> </div>
<script src="index.js"></script>

</main>

    <footer></footer> 



