<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>match your style</title>
</head>
<body>
    <header>
    <h1>Find the perfect store for you</h1>
    <p>Do you want to find the perfect store for your style? Choose the ones that you are interested in and get differet stores in your erea.</p>
    </header>
    <main>
       <ul>
        <li><button class="button">Parisian style</button></li>
        <li><button class="button">Athleisure style</button></li>
        <li><button class="button">Kawaii style</button></li>
        <li><button class="button">Lolita style</button></li>
        <li><button class="button">Girly style</button></li>
        <li><button class="button">Tomboy style</button></li>
        <li><button class="button">Gothic style</button></li>
        <li><button class="button">Punk style</button></li>
        <li><button class="button">Prepyy style</button></li>
        <li><button class="button">Trendy style</button></li>
        <li><button class="button">Bohemian style</button></li>
        <li><button class="button">Chic style</button></li>
        <li><button class="button">Grunge style</button></li>
        <li><button class="button">Vintage style</button></li>
        <li><button class="button">Minimalist style</button></li>
        <li><button class="button">Streetwear style</button></li>
        <li><button class="button">Athleisure style</button></li>
        <li><button class="button">Kawaii style</button></li>
       </ul>
        
       <a href="">next</a>
    </main>
    <footer></footer>
    <script defer src="scripts/index.js"></script>
    
</body>
</html>