<main class="page-not-found">
  <section>
    <img src="../././images/notfound.png" alt="404" />
    <h1>Click on my head</h1>
    <button>music</button>
    <a href="/home"></a>
  </section>
</main>
<script src="notfound.js"></script>